<h1>About Us</h1>
<p>We are working on out One Month Rails Pinteresting app</p>
<p><em>When this app is complete we will be able to:</em></p>

<div class="row">
	<div class="col-xs-6 col-sm-4">
		<h4>Cure the common cold</h4>
  		<img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Sneeze.JPG" alt="..." class="img-thumbnail">
  		<button type="button" class="btn btn-primary">Stop Sneezing</button>
	</div>
  <div class="col-xs-6 col-sm-4">
  	<h4>Have the dishes do themselves</h4>
  		<img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Dirty_dishes.jpg" alt="..." class="img-thumbnail">
  		<button type="button" class="btn btn-primary">Clean Up</button>
  </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">
  	<h4>Be all Good Will Hunting like</h4>
  	<img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Blackboards_%E2%80%93_UNM_Astrophysics.JPG" alt="..." class="img-thumbnail">
  	<button type="button" class="btn btn-primary">Mathify</button>
  </div>
</div>